/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Nov 23, 2017, 9:52:44 PM
    Author     : Vladimir
*/

.img_center{
    text-align: center;
}

.panel-heading{
    font-size: 25px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 0px;
}

#page-wrapper{
    min-height: auto!important;
}
.chat-panel .panel-body{
    min-height: 460px!important;
}

.primary-font{
    font-size: 18px;
}

.message{
    font-size: 16px;
}