/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Sep 20, 2017, 8:56:00 PM
    Author     : Vladimir
*/

html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
}

/*.full-height {
    height: 96.9vh;
}*/

.flex-center {
    display: flex;
    justify-content: center;
    margin-top: 3vh;
}

.position-ref {
    position: relative;
}

.top-right {
    position: absolute;
    right: 10px;
    top: 15px;
}

.title {
    font-size: 84px;
}

.links > a {
    color: #636b6f;
    padding: 0 25px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: .1rem;
    text-decoration: none;
    text-transform: uppercase;
}

.m-b-md {
    margin-bottom: 30px;
}

button#back-button{
    margin: 10px;
}


/* DEMO-SPECIFIC STYLES 
.typewriter h1 {
    width: 100%;
    color: #636b6f;
    overflow: hidden;  Ensures the content is not revealed until the animation 
    border-right: .15em solid orange;  The typwriter cursor 
    white-space: nowrap;  Keeps the content on a single line 
    margin: 0 auto;  Gives that scrolling effect as the typing happens 
    letter-spacing: .15em;  Adjust as needed 
    animation: 
        typing 4s steps(80, end),
        blink-caret .5s step-end infinite;
}

 The typing effect 
@keyframes typing {
    from { width: 0 }
    to { width: 100% }
}

 The typewriter cursor effect 
@keyframes blink-caret {
    from, to { border-color: transparent }
    50% { border-color: orange }
}*/

a.navbar-brand.logo-title{
    font-size: 25px;
}

.answear_input input[type="text"] {
    width: 700px;
    height: auto;
    margin-top: 10px;
    padding-left: 10px;
    text-align: initial!important;
    font-size: 20px;


}

.content_homepage{
    text-align: center;
}

/*.answear_input {
    text-align: left;
}*/

.typewriter{
    margin-top: 30px;
    margin-bottom: 10px;
}

.homepage_sending_button{
    height: 4vh;
}

.homepage_send_button{
    height: 40px;
    font-size: 16px;
    margin-bottom: 5px;
    margin-left: 5px;
    text-align: initial!important;
}

#answear_appearance{
    opacity: 0;
    visibility:hidden;
}

.pull-center{
    margin-top: 35px;
}

.typewriter h1{
    width: 100%!important;
    color: #636b6f; 
    margin: 0 auto;
    white-space: nowrap;
    overflow: hidden;
    width: 18em;
    animation: type 4s steps(80, end); 
}

span{
    color: #5BC0DE;
    animation: blink 0.8s infinite;
    margin-bottom: 5px;
    font-size: 42px;
}

@keyframes type{ 
    from { width: 0; } 
} 

@keyframes type2{
    0%{width: 0;}
    50%{width: 0;}
    100%{ width: 100; } 
} 

@keyframes blink{
    to{opacity: .0;}
}

.robot_img{
    width: 320px;
    height: auto;
    margin: auto;
    padding: auto;
}